@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
/* @@@@@@@@@@@@@@@@@@@@@@@-- General --@@@@@@@@@@@@@@@@@@@@@@@@@@ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  text-decoration: none;
}

body {
  background-color: hsl(0, 0%, 100%);
  font-family: "League Spartan", sans-serif;
}
.bg-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 584px;
  height: 362px;
  z-index: -1000;
  background: url("./images/bg-pattern-top-desktop.svg");
  background-repeat: no-repeat;
}
.bg-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 1085px;
  height: 673px;
  z-index: -1000;
  background: url("./images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
}

/* @@@@@@@@@@@@@@@@@@@@@@@-- social__head --@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#social {
  display: grid;
  place-items: center;
  height: 100vh;
  padding-top: 3rem;
}
.social__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.social__head {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.social__head-title {
  font-size: 3.5rem;
  color: hsl(300, 43%, 22%);
}

.social__head-subtitle {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: hsl(303, 10%, 53%);
}

.social__rate {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 50px));
  grid-template-rows: repeat(3, minmax(0, 50px));
  gap: 1rem;
}
.social__rate-box {
  padding: 1.5rem;
  background-color: hsl(300, 24%, 96%);
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.social__rate-box:nth-child(1) {
  grid-column: 1/8;
}
.social__rate-box:nth-child(2) {
  grid-column: 2/9;
}
.social__rate-box:nth-child(3) {
  grid-column: 3/10;
}

.social__rate-box span {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
  margin-left: 3rem;
  white-space: nowrap;
}

/* @@@@@@@@@@@@@@@@@@@@@@@-- social__grid --@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.social__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(9, minmax(0, 30px));
  column-gap: 2rem;
}

.social__grid-box {
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 0.5rem;
}

.social__grid-box:nth-child(1) {
  grid-row: 1/8;
}
.social__grid-box:nth-child(2) {
  grid-row: 2/9;
}
.social__grid-box:nth-child(3) {
  grid-row: 3/10;
}

.social__grid-head {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.social__grid-head img {
  border: 2px solid hsl(303, 10%, 53%);
  border-radius: 50%;
  width: 40px;
}

.social__grid-name h3 {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
}
.social__grid-name span {
  color: hsl(333, 80%, 67%);
}

.social__grid-box p {
  margin-top: 2rem;
  color: hsl(300, 24%, 96%);
}

.copy {
  text-align: center;
  margin: 8rem auto 0rem;
  max-width: 300px;
}

/* @@@@@@@@@@@@@@@@@@@@@@@-- max-width: 1200px --@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media (max-width: 1200px) {
  .social__rate-box span {
    font-size: 0.8rem;
    margin-left: 2rem;
  }
  .social__rate-box img {
    width: 14px;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@-- max-width: 992px --@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 992px) {
  .social__head {
    gap: 4rem;
  }
  .social__rate {
    grid-template-rows: repeat(3, minmax(0, 60px));
  }
  .social__rate-box {
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
  }
  .social__rate-box span {
    font-size: 0.8rem;
    margin-left: unset;
  }

  .social__grid {
    grid-template-rows: repeat(9, minmax(0, 35px));
  }

  .social__grid-box {
    padding: 1.5rem;
  }

  .social__grid-name span {
    font-size: 0.8rem;
  }
  .social__grid-box p {
    margin-top: 1rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@-- max-width: 768px --@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 768px) {
  .social__head-title {
    font-size: 2.5rem;
  }

  .social__head-subtitle {
    font-size: 1.1rem;
  }

  .social__grid {
    column-gap: 1rem;
  }

  .social__grid-box {
    padding: 1rem;
  }

  .social__grid-name span {
    font-size: 0.7rem;
  }
  .social__grid-box p {
    font-size: 0.9rem;
  }
}

/* @@@@@@@@@@@@@@@@@@@@@@@-- max-width: 576px  for Mobile --@@@@@@@@@@@@@@@@@@@@@@@@@@ */
@media (max-width: 576px) {
  .bg-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 374px;
    height: 232px;
    z-index: -1000;
    background: url("./images/bg-pattern-top-mobile.svg");
    background-repeat: no-repeat;
  }
  .bg-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 375px;
    height: 503px;
    z-index: -1000;
    background: url("./images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
  }

  .social__head {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .social__rate {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    gap: 1rem;
  }

  .social__rate-box:nth-child(1) {
    grid-column: unset;
  }
  .social__rate-box:nth-child(2) {
    grid-column: unset;
  }
  .social__rate-box:nth-child(3) {
    grid-column: unset;
  }

  .social__rate-box span {
    margin-top: 1rem;
  }

  /* social__grid */
  .social__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    column-gap: unset;
    row-gap: 1rem;
  }

  .social__grid-box:nth-child(1) {
    grid-row: unset;
  }
  .social__grid-box:nth-child(2) {
    grid-row: unset;
  }
  .social__grid-box:nth-child(3) {
    grid-row: unset;
  }

  .social__grid-box {
    padding: 2rem;
  }

  .social__grid-name h3 {
    font-size: 1rem;
  }
  .social__grid-name span {
    font-size: 0.9rem;
  }

  .social__grid-box p {
    margin-top: 2rem;
    font-size: 1rem;
  }
}
